.IntroText {
  text-align: center;
  margin-top: 45px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}

@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
